<form>
  <span name="id">{{id}}</span>
 
  <input name="name" type="text" [(ngModel)]="name" required>
 
  <input type="checkbox" name="agreement" [(ngModel)]="agreement">
 
  <input type="radio" name="gender" value="male" [(ngModel)]="gender">男
  <input type="radio" name="gender" value="female" [(ngModel)]="gender">女
 
  <select name="work" [(ngModel)]="work">
    <option *ngFor="let item of works" [ngValue]="item">{{item.label}}</option>
  </select>
 
  <textarea name="note" [(ngModel)]="note"></textarea>
</form>
